




<td class="py-3 pl-3 text-start">
  <div   >
   <span  class="text-sm text-muted-foreground" >{{ product.name }}</span>

  </div>


</td>

<td class="py-3 pl-3 text-start">
  <div   >
   <span  class="text-sm text-muted-foreground" >{{ product.type | appProduct }}</span>

  </div>


</td>

<td class="py-3 pl-3 text-end">
  <div   >
   <span  class="text-sm text-muted-foreground" >{{ product.status  | appTypeStatus }}</span>

  </div>


</td>




<!--
<td class="py-3 pl-3 text-start">
  <div class="pr-1"  >
   <span  class="text-sm text-foreground" >{{ inputProduct.provider_id }}</span>

  </div>

</td>

<td class="py-3 pl-3 text-start">
 <div class="pr-1"  >
  <span  class="text-sm text-muted-foreground" >{{ inputProduct.quantity }}</span>

 </div>

</td>

<td class="py-3 pl-3 text-start">
 <div class="pr-1"  >
  <span  class="text-sm text-muted-foreground" >{{ inputProduct.payment_amount | currency }}</span>

 </div>

</td>

<td class="py-3 pl-3 text-start">
 <div class="pr-1"  >
  <span  class="text-sm text-muted-foreground" >{{ inputProduct.detail }}</span>

 </div>

</td>

<td class="py-3 pl-3 text-right">
 <div class="pr-1"  >
  <span  class="text-sm text-muted-foreground" >{{ inputProduct.date }}</span>

 </div>

</td> -->
