<div class="w-full flex flex-col p-2  gap-2 bg-background shadow-sm border border-muted rounded-md">
    <span class="text-foreground text-base" >Receta</span>
    <hr class="border-dashed bg-muted" >

    <form class="w-full" action="">
      <span class="text-foreground text-sm">
        Nombre de la receta
      </span>
      <input type="text">


      <span class="text-foreground text-sm">
        Descripcion de la receta
      </span>
      <textarea ></textarea>


      <span class="text-foreground text-sm">Elementos de la Receta</span>
      <app-list-quantity></app-list-quantity>

    <div class="flex flex-row gap-2 w-full justify-end py-2">
      <button  class="p-2 border rounded-sm border-muted text-base text-muted-foreground hover:bg-muted " >Cancelar</button>
      <button class="p-2 bg-primary text-primary-foreground rounded-sm" >Realizar</button>
    </div>

    </form>


</div>
