<div class="w-full flex flex-col p-2  gap-2 bg-background shadow-sm border border-muted rounded-md">
    <span class="text-foreground text-base" >Produccion</span>
    <hr class="border-dashed bg-muted" >

    <form  [formGroup]="formRecipe" (ngSubmit)="onSubmit()"  class="w-full" action="">

      <span class="text-foreground text-sm">
        Producto a crear
      </span>
      <app-select formControlName="product_type_id" [items]="listProducts" >

      </app-select>

      <span class="text-foreground text-sm">
        Fecha
      </span>

      <input formControlName="created_at" type="datetime-local" placeholder="0" >


      <span class="text-foreground text-sm">
        Cantidad del producto
      </span>

      <input formControlName="quantity" type="number" placeholder="0" >

      <span class="text-foreground text-sm">
        Descripcion
      </span>
      <textarea  formControlName="description" placeholder="Una breve descripcion del proceso a realizar" ></textarea>


      <span class="text-foreground text-sm">Lista de productos</span>
      <app-list-quantity formControlName="items" (listQuantityInterfaceEvent)="onInterfaceQuantityReceived($event)" ></app-list-quantity>

    <div class="flex flex-row gap-2 w-full justify-end py-2">
      <button type="button" class="p-2 border rounded-sm border-muted text-base text-muted-foreground hover:bg-muted " >Cancelar</button>
      <button type="submit" class="p-2 bg-primary text-primary-foreground rounded-sm" >Realizar</button>
    </div>

    </form>


</div>
