



<td class="py-3 pl-3 text-start">
  <div   >
   <span  class="text-sm text-muted-foreground" >{{ order.id }}</span>

  </div>


</td>

<td class="py-3 pl-3 text-start">
  <div class="pr-1"  >
   <span  class="text-sm text-muted-foreground" >{{ order.address }}</span>

  </div>

</td>

<td class="py-3 pl-3 text-start">
  <div class="pr-1"  >
   <span  class="text-sm text-muted-foreground" >{{ order.date }}</span>

  </div>

</td>


<td class="py-3 pl-3 text-right">
  <div class="pr-1">
    <span

    class=" border rounded-md  p-1 text-xs  text-foreground">{{ order.status == 1 ? 'Pendiente' : order.status == 2 ? 'Asignado ' : 'Entregado' }}</span>
  </div>

</td>
