<div class="mb-4 flex justify-between">
  <div class="inline-block">
    <h3 class="font-semibold text-foreground">Almacenes - Proveedores</h3>
    <div class="space-x-1 text-xs font-medium text-muted-foreground">
      <a href="" class="hover:text-primary">Lista</a>
      <span> - Proveedores</span>
    </div>
  </div>

  <div class="inline-block space-x-4">
    <button (click)="onAddToggle()"
      class="flex-none rounded-md bg-primary  px-4 py-2.5  text-xs font-medium text-primary-foreground ">
      Agregar Proveedor
    </button>

  </div>

</div>
