<div  class='mx-auto  py-8  flex flex-col md:flex-row items-start  px-8 gap-2  md:w-full overflow-auto  h-full scrollbar-thumb-rounded scrollbar-track-rounded grow  scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted md:py-4 '>
  <app-list-products class="w-full md:w-[33%]" [products]="products()" (onSelectItemEvent)="onSelectItem($event)"    ></app-list-products>
  <app-form-recipes  [listProducts]="listProducts" class="w-full md:w-[66%]"  (onReceivedInterfaceList)="onCreatedInterface($event)"  (onSubmitEvent)="onCreateRecipe($event)" ></app-form-recipes>
</div>
