



<td class="py-3 pl-3 text-start">
  <div   >
   <span  class="text-sm text-muted-foreground" >{{ outputProduct.warehouse_id | appWarehouse }}</span>

  </div>


</td>

<td class="py-3 pl-3 text-start">
  <div class="pr-1"  >
   <span  class="text-sm text-foreground" >{{ outputProduct.product_type_id | appProduct}}</span>

  </div>

</td>

<td class="py-3 pl-3 text-start">
 <div class="pr-1"  >
  <span  class="text-sm text-muted-foreground" >{{ outputProduct.quantity }}</span>

 </div>

</td>

<td class="py-3 pl-3 text-start">
 <div class="pr-1"  >
  <span  class="text-sm text-muted-foreground" >{{ outputProduct.detail}}</span>

 </div>

</td>

<td class="py-3 pl-3 text-end">
 <div class="pr-1"  >
  <span  class="text-sm text-muted-foreground" >{{ outputProduct.date_created | date:'short'  }}</span>

 </div>

</td>


