<td class="py-3 pr-3 text-start">
  <div class="pl-1" >
    <span class="mb-1 text-sm  text-center  text-muted-foreground ">{{ preparation.product_type_id | appProduct }}</span>


  </div>

</td>

<td class="py-3 pr-3 text-start">
  <div class="pl-1" >
    <span class="mb-1 text-sm  text-center text-muted-foreground">{{ preparation.warehouse_id | appWarehouse }}</span>


  </div>

</td>

<td class="py-3 pr-3 text-start">
  <div class="pl-1" >
    <span class="mb-1 text-sm  text-center  text-muted-foreground ">{{ preparation.quantity }}</span>


  </div>

</td>

<td class="py-3 pr-3 text-right">
  <div class="pl-1" >
    <span class="mb-1 text-sm  text-center  text-muted-foreground ">{{ preparation.date_created | date }}</span>


  </div>

</td>


