<td class="py-3 pr-3 text-start">
  <div class="pl-1" >
    <span class="mb-1 text-sm font-semibold text-muted-foreground text-center  ">{{ providerProduct.name}}</span>


  </div>

</td>

<td class="py-3 pr-3 text-start">
  <div class="pl-1" >
    <span class="mb-1 text-sm text-muted-foreground text-center  ">{{ providerProduct.phone}}</span>


  </div>

</td>

<td class="py-3 pr-3 text-start">
  <div class="pl-1" >
    <span class="mb-1 text-sm font-semibold text-muted-foreground text-center  ">{{ providerProduct.email}}</span>


  </div>

</td>


<td class="py-3 pl-3 text-right">
  <!-- <span class="text-sm font-semibold text-muted-foreground">{{  service_status ? 'comprado' : 'disponible' }}</span> -->
   <div class="pr-1"  >
    <span  class="text-sm text-muted-foreground border p-1  rounded-md" >{{ providerProduct.address }}</span>

   </div>
   <!-- <ng-template  #available >
    <span  class="text-sm text-green-600 border p-1 border-green-600 rounded-md">Disponible</span>


   </ng-template> -->

</td>
