<div class="w-full  bg-background p-8"  >
  <div class="flex flex-col -mx-3 mb-6">
    <div class="w-full max-w-lg   px-3 mb-6 md:mb-0">
      <h2 class="text-2xl  font-semibold text-foreground">{{ 'Orden nro : 25' }}</h2>
      <div class=" pl-3 dflex items-end justify-between text-sm font-semibold text-muted-foreground">
        {{data.notification.date}}
      </div>

      <!-- <p class="text-red-500 text-xs italic">Please fill out this field.</p> -->
    </div>
    <hr class="border-dashed border-border" />
    <div class="p-2" >
      <div class="w-full max-w-lg   px-3 mb-6 md:mb-0">
        <div class="dflex items-end justify-between text-sm font-semibold text-muted-foreground">
          Contacto
        </div>
        <div class="text-md  font-semibold text-foreground">
          {{'Walter Ronny Ibañez Saucedo'}}
        </div>
      </div>
      <div class="w-full max-w-lg   px-3 mb-6 md:mb-0">
        <div class="dflex items-end justify-between text-sm font-semibold text-muted-foreground">
          Telefono
        </div>
        <div class="text-md  font-semibold text-foreground">
          {{'78140498'}}
        </div>
      </div>
      <div class="w-full max-w-lg   px-3 mb-6 md:mb-0">
        <div class="dflex items-end justify-between text-sm font-semibold text-muted-foreground">
          Correo
        </div>
        <div class="text-md  font-semibold text-foreground">
          {{'walteribanez555@gmail.com'}}
        </div>
      </div>

    </div>
    <hr class="border-dashed border-border" />
    <div class="p-2">
      <div class="w-full max-w-lg   px-3 mb-6 md:mb-0">
        <div class="dflex items-end justify-between text-sm font-semibold text-muted-foreground">
          Detalles
        </div>
        <ul class="flex md:pl-4 gap-2 flex-col"  >
          <li class="text-md  font-semibold text-foreground ">
            {{'Alitas barbacoa 12 pzs'}}
            <div class="flex gap-2  justify-center items-center md:justify-start  md:items-start ">
              <div class="focus-visible:ring-ring inline-flex h-8 items-center justify-start whitespace-nowrap rounded-md border border-border bg-background px-3 text-xs font-medium text-muted-foreground shadow-sm transition-colors focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50 ">
                <p class="capitalize">{{ 'Salsa Cheddar'}}</p>
              </div>
              <div class="focus-visible:ring-ring inline-flex h-8 items-center justify-start whitespace-nowrap rounded-md border border-border bg-background px-3 text-xs font-medium text-muted-foreground shadow-sm transition-colors focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50 ">
                <p class="capitalize">{{ 'Bañadas' }}</p>
              </div>
            </div>
          </li>
          <li class="text-md  font-semibold text-foreground ">
            {{'Alitas barbacoa 12 pzs'}}
            <div class="flex gap-2  justify-center items-center md:justify-start  md:items-start ">
              <div class="focus-visible:ring-ring inline-flex h-8 items-center justify-start whitespace-nowrap rounded-md border border-border bg-background px-3 text-xs font-medium text-muted-foreground shadow-sm transition-colors focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50 ">
                <p class="capitalize">{{ 'Salsa Cheddar'}}</p>
              </div>
              <div class="focus-visible:ring-ring inline-flex h-8 items-center justify-start whitespace-nowrap rounded-md border border-border bg-background px-3 text-xs font-medium text-muted-foreground shadow-sm transition-colors focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50 ">
                <p class="capitalize">{{ 'Bañadas' }}</p>
              </div>
            </div>
          </li>
          <li class="text-md  font-semibold text-foreground">
            {{'1 Coca Cola 2Lts'}}
          </li>

        </ul>
      </div>
    </div>

  </div>

</div>
