

<td class="py-3 pl-3 text-start">
  <div class="pr-1"  >
   <span  class="text-sm text-muted-foreground" >{{ index}}</span>

  </div>

</td>

<td class="py-3 pl-3 text-start">
  <div class="pr-1"  >
   <span  class="text-sm text-muted-foreground" >{{ inputProduct.product_type_id | appProduct }}</span>

  </div>

</td>

<td class="py-3 pl-3 text-start">
   <div   >
    <span  class="text-sm text-muted-foreground" >{{ inputProduct.warehouse_id | appWarehouse }}</span>

   </div>


</td>

<td class="py-3 pl-3 text-start">
   <div class="pr-1"  >
    <span  class="text-sm text-foreground" >{{ inputProduct.provider_id  | appProvider }}</span>

   </div>

</td>

<td class="py-3 pl-3 text-start">
  <div class="pr-1"  >
   <span  class="text-sm text-muted-foreground" >{{ inputProduct.quantity }}</span>

  </div>

</td>


<td class="py-3 pl-3 text-start">
  <div class="pr-1"  >
   <span  class="text-sm text-muted-foreground" >{{ inputProduct.detail }}</span>

  </div>

</td>

<td class="py-3 pl-3 text-right">
  <div class="pr-1"  >
   <span  class="text-sm text-muted-foreground" >{{ inputProduct.date_created | date }}</span>

  </div>

</td>
