<div class="flex-col rounded-lg bg-background px-8 py-8 sm:flex-row">
  <div class="w-full  mx-auto ">


    <hr class="border-dashed border-border">

    <div class="w-full flex flex-col p-2 gap-2">
      <div class="flex flex-col gap-2  items-end md:flex-row md:items-center justify-between w-full">
        <div class="w-full flex  flex-col md:flex-row  md:w-1/2 gap-2 items-end">
          <div class="w-full flex flex-col gap-2" >
            <span class="text-muted-foreground text-base" >Fecha Inicial</span>
            <input  [(ngModel)]="initialDate" type="date">
          </div>

          <div class="w-full flex flex-col gap-2" >
            <span class="text-muted-foreground text-base" >Fecha Inicial</span>
            <input [(ngModel)]="finalDate" type="date">
          </div>


          <button  (click)="filterEvent()" type="button" class=" w-full btn bg-primary text-primary-foreground p-2 rounded-md h-fit " >
            Filtrar
          </button>

        </div>
        <div class="w-full  md:w-1/2 flex items-center justify-end gap-2 ">
          <button  (click)="previousPage()" class=" p-1 text-white rounded-md bg-primary" ><</button>
          <span class="text-foreground text-base" >{{actualPage}}</span>
          <button (click)="nextPage()"  class="p-1 text-white  rounded-md bg-primary " >></button>



        </div>

      </div>


    </div>

    <hr class="border-dashed border-border">



    <div class="relative overflow-x-auto h-72 scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted">
      <table class="w-full table-auto    ">
        <!--Table head-->
        <thead class="text-xs uppercase text-muted-foreground  sticky top-0 bg-background ">
          <tr>
            <th class="py-3 text-left">Producto</th>
            <th class="py-3 text-left">Almacen</th>
            <th class="py-3 text-left">Cantidad</th>
            <th class="py-3 text-left">Fecha</th>
            <th class="py-3 text-right">Tipo</th>

          </tr>
        </thead>
        <!--end Table head-->
        <!--Table body-->
        <tbody>
          <tr *ngFor="let preparation of preparations; let i = index" item-list-preparation
            (click)="onSelectTable(preparation)" class="border-b border-dashed border-border hover:bg-card"></tr>

        </tbody>
        <!--end::Table body-->
      </table>
    </div>













  </div>




</div>
