<div class="flex-col rounded-lg bg-background px-8 py-8 sm:flex-row">
  <div class="w-full  mx-auto ">
    <div
      class="flex w-full  overflow-auto scrollbar-thumb-rounded scrollbar-track-rounded grow  scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted">
      <button
        [ngClass]="{
          'border-primary text-primary outline-none active-tab': selectedWarehouse === null ,
          'text-muted-foreground border-transparent': selectedWarehouse !== null
        }"


        class="py-2 px-4 text-sm font-medium text-primary border-b-2  hover:border-primary hover:text-primary focus:outline-none "
        (click)="selectWarehouse(null)" >
        Todos
      </button>

      <button *ngFor="let warehouse of warehouses;"
        [ngClass]="{
          'border-primary text-primary outline-none active-tab': selectedWarehouse === warehouse.warehouse_id,
          'text-muted-foreground border-transparent': selectedWarehouse !== warehouse.warehouse_id
        }"
        class="py-2 px-4 text-sm font-medium border-b-2  hover:border-primary hover:text-primary focus:outline-none"
        (click)="selectWarehouse(warehouse.warehouse_id)">
        {{warehouse.name}}
      </button>
    </div>

    <hr class="border-dashed border-border">

    <div class="w-full flex flex-col p-2 gap-2">
      <div class="flex flex-col gap-2  items-end md:flex-row md:items-center justify-between w-full">
        <div class="w-full  md:w-1/2">
          <div class="flex flex-col  md:flex-row gap-2">
            <div class=" w-full  md:w-1/2">
              <label class="text-muted-foreground text-sm">Desde</label>
              <input type="date" class="w-full border border-border rounded-lg p-2">
            </div>
            <div class="w-full  md:w-1/2">
              <label class="text-muted-foreground text-sm">Hasta</label>
              <input type="date" class="w-full border border-border rounded-lg p-2">
            </div>
          </div>
        </div>
        <div class="w-full  md:w-1/2 flex items-center justify-end gap-2 ">
          <button  (click)="previousPage()" class=" p-1 text-white rounded-md bg-primary" ><</button>
          <span class="text-foreground text-base" >{{actualPage}}</span>
          <button (click)="nextPage()"  class="p-1 text-white  rounded-md bg-primary " >></button>



        </div>

      </div>


    </div>

    <hr class="border-dashed border-border">



    <div class="relative overflow-x-auto h-72 scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted">
      <table class="w-full table-auto    ">
        <!--Table head-->
        <thead class="text-xs uppercase text-muted-foreground  sticky top-0 bg-background ">
          <tr>
            <th class="py-3 text-left"></th>
            <th class="py-3 text-left">Producto</th>
            <th class="py-3 text-left">Almacen</th>
            <th class="py-3 text-left">Proveedor</th>
            <th class="py-3 text-left">Cantidad</th>
            <th class="py-3 text-left">Detalle</th>
            <th class="py-3 text-right">Fecha</th>
          </tr>
        </thead>
        <!--end Table head-->
        <!--Table body-->
        <tbody>
          <tr *ngFor="let inputProduct of inputs; let i = index" [inputProduct]="inputProduct" [index]="i+1+ (this.actualPage - 1) * this.itemsPerPage"  item-table-input
            (click)="onSelectTable(inputProduct)" class="border-b border-dashed border-border hover:bg-card"></tr>

        </tbody>
        <!--end::Table body-->
      </table>
    </div>













  </div>




</div>
